.header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: rgb(201, 204, 184);
  text-align: center;
  color:black;
  line-height: 50px;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.box{
  background:#d7faf5;
  width: 300px;
  padding: 40px;
  margin: 80px auto;
  border-radius: 300px;
  text-align: center;
  border: 2px solid #3742fa

}
.box h1{
  color:black;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color:black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type = "password"]:focus{
  width: 180px;
  border-color: #2ecc71;
}
.box input[type ="submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type ="submit"]:hover{
  background: #2ecc71;
  box-shadow: 0 0 10px 4px #7de9aa;
}
.box div{
  color: white;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  color:black;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background:rgb(201, 204, 184);
}